* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
}

.contenitore-relative {
    text-align: center;
    border: 1px solid black;
    height: 200px;
}

.green {
    background-color: green;
    width: 50px;
    height: 50px;
    position: relative;
    left: 50px;
}

.red {
    background-color: red;
    width: 50px;
    height: 50px;
    position: relative;
    right: 50px;
}         



.contenitore-absolute {
    border: 1px solid black;
    height: 200px;
    position: relative;
}

.yellow {
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    z-index: 1;
}

.blue {
    background-color: blue;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 25px;
}

.start-yellow {
    width: 50px;
    height: 50px;
    color: yellow;
    border-style: dotted;
}

.start-blue {
    width: 50px;
    height: 50px;
    color: blue;
    border-style: dotted;
}

.contenitore-esercizio {
    border: 1px solid black;
    height: 500px;
    position: relative;
}

.big1, .big2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
    position: relative;
}

.big2 {
    position: relative;
    left: 200px;
    bottom: 200px;
}

.little1 {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
}
.little2 {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    right: 0; 
}
.little3 {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
}
.little4 {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    position: absolute;
    left: 15px;
}